:root {
    --blue: #0078ac;
    --light-green: #c1d62e;
    --red: #dd2e22;
    --light-grey:#bbbbbb;
    --grey:#191919;
    --dark-grey:#000000;
    --very-light-grey:#f6f6f6;
    --bg-color: rgb(255, 255, 255);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
}

.refresh-btn {
    position: absolute;
    padding: 10px 20px;
    background-color: var(--blue);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    z-index: 100;
    right: 25px;
}